Django==4.2.3
gunicorn==21.2.0
psycopg2-binary==2.9.6
asgiref
numpy
pandas
Pillow
SQLAlchemy
sentry_sdk
werkzeug
xlwt
statsmodels
kaleido
unidecode
fuzzywuzzy==0.18.0
python-docx
docx2pdf
workalendar
holidays
requests